<nav>
  <h1> Namaste! ^_^ </h1>
  <a href="/">
    <!{% if site.data.theme.social.gravatar %}
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fm.popkey.co%2Fa08416%2FdZzmZ.gif&imgrefurl=http%3A%2F%2Fpopkey.co%2Fm%2FdZzmZ-trippy-art-technicolor-eye%2Bmakeup&docid=6H2ZQI4q0v4s6M&tbnid=kyTB0vy99mdZLM%3A&vet=10ahUKEwjfsMf01KPUAhXHOI8KHUyLAJYQMwhAKAYwBg..i&w=442&h=600&bih=983&biw=1855&q=trippy%20art&ved=0ahUKEwjfsMf01KPUAhXHOI8KHUyLAJYQMwhAKAYwBg&iact=mrc&uact=8/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/    {% else %}>
    <img src="/logo.gif" style="width:2400px;height:528px;" id="logo" alt="Blog logo"/>
    <!{% endif %}>
  </a>
  <h2>This is <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> Regular bouts of eccentricity.</p> 
    <p> Brief sparks of creativity. </p>
    <p> Non-existent periods of gloom. </p>
    <!<p
      Edit me in <code_includes/sidebar.html</code
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
